@charset "utf-8";


/* Author: Hailee | Date: Dec 4, 2025
   Styles for Lyman Hall Theater calendar table
*/

#calendar_table {
  width: 100%;
  max-width: 900px;
  margin: 2em auto;
  border-collapse: collapse;
  font-family: 'Georgia', serif;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#calendar_table caption {
  font-size: 1.6em;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  background-color: #333;
  color: #fff;
  letter-spacing: 1px;
}

#calendar_table th,
#calendar_table td {
  border: 1px solid #ccc;
  padding: 0.75em 1em;
  text-align: left;
}

#calendar_table th {
  background-color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

#calendar_table tr:nth-child(even) td {
  background-color: #f9f9f9;
}

#calendar_table tr:hover td {
  background-color: #ffeecf;
  transition: background-color 0.3s ease;
}

/* Extra column styling */
.event-date {
  font-weight: bold;
  color: #2a4d7a;
  width: 40%;
}

.event-desc {
  width: 40%;
}

.event-price {
  text-align: right;
  width: 20%;
  color: #444;
}

